@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins';
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: rgb(217, 217, 217);
    --bg-dark: rgba(1, 0, 66, 1);
    --bg-light: hsl(241, 64%, 27%);
} */

body {
    color: #242424;
    background-color: hsl(0, 0%, 90%);
    overflow-x: hidden;
}

.btn {
    padding: 0.5em 1.5em;
    background-color: inherit;
    /* color: hsl(255, 59%, 83%); */
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: none;
    transition: all 0.1s linear;
}


.btn::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 2px;
    opacity: 0;
    height: calc(100% + 0.30em);
    border-bottom: 2px solid #fff;
    transition: all 0.2s linear;
}

.btn:hover::after {
    opacity: 1;
    transform: scaleX(50);
}

.banner,
.Lbanner,
.Rbanner {
    background: rgba(0, 0, 0, .65) url("banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 8rem;
    padding-bottom: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
    flex-wrap: wrap;
}

.Lbanner {
    background: rgba(0, 0, 0, .65) url("bannerL.jpg");
    background-position: top;
}

.Rbanner {
    background: rgba(0, 0, 0, .65) url("bannerR.jpg");
    background-position: top;
}

.bannerText::before {
    content: "";
    background-image: url('./google.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 18rem;
    height: 6rem;
    display: inline-block;
    position: relative;
    top: 1.5rem;
    right: 0.5rem;
}

.profilepic {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    border-top: 0.5rem solid #da483b;
    border-bottom: 0.5rem solid #ff9e0f;
    border-left: 0.5rem solid #1ca45c;
    border-right: 0.5rem solid #4486f4;
    margin-top: 1rem;
}

.logohome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    padding: 1rem;
}

.logohome > img {
    margin: 20px;
}

.header {
    background-color: hsl(0, 0%, 90%);
    text-align: center;
}
